{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
  {% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
  {% endblock %}
  <div class="container">
    <h2>Edit post</h2>
    <hr>
    {% if form.errors %}
      <p style="color: red;">{{ form.errors.as_text }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Title</label>
        <div>{{ form.title }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Content</label>
        <div>{{ form.body|add_class:"form-control"|attr:"style:width:90%" }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.author.id_for_label }}">Author:</label>
        {{ form.author }}
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button class="btn btn-secondary">Back</button>
    </form>
  </div>

  <style>
    textarea.form-control{
      min-height: 400px;
    }
  </style>
{% endblock %}
