{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
  {% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
  {% endblock %}
  
  <div class="container">
    <h2>Edit Current Post</h2>
    <hr>
    {% if form.errors %}
      <p style="color: red;">{{ form.errors.as_text }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Title:</label>
        <div>{{ form.title }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Content:</label>
        <div>{{ form.body|add_class:"form-control"|attr:"style:width:90%" }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.cover_image.id_for_label }}">Cover Image:</label>
        <div>{{ form.cover_image }}</div>
      </div>

      <div class="form-group">
        <label for="{{ form.author.id_for_label }}">Author:</label>
        {{ form.author }}
      </div>

      <div class="form-group">
        <label for="{{ form.categories.id_for_label }}">Categories:</label>
        {{ form.categories }}
      </div>
    

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <style>
    textarea.form-control{
      min-height: 400px;
    }
  </style>
{% endblock %}
