{% extends 'blog/base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-TT">
                            {% if post.cover_image %}
                                <img src="{{ post.cover_image.url }}" alt="{{ post.title }} image" style="max-width: 95%; display: block; padding: 2.5%; margin: auto;">
                            {% endif %}
                            <h2 class="card-title" style="text-align: center; padding: 2.5%;">{{ post.title|title_case }}</h2>
                            <hr style="width: 50px; border: 5px solid  #65C4B0; margin: 20px auto;" >
                            <p style="color: gray; text-align: center;">
                                Posted by {{post.author|title_case}} | {{ post.date_posted|date:"F d, Y" }}
                            </p>
                        </div>
                        <p class="card-text">
                            {% for paragraph in post.body %}
                                {{ paragraph|Marking }}
                            {% endfor %}
                        </p>
                        <div class="card-footer">
                            <small class="text-muted">
                                Posted on: {{ post.date_posted|date:"F d, Y" }} by {{post.author|title_case}} 
                                Tags ►
                                {% for category in post.categories|catego  %}
                                    {{category|title_case}},
                                {% endfor %}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* body {
            background-image: url("/media/media/hi.jpg"); */
            /* background-position: center;
            background-repeat: no-repeat;
            background-size: cover; */
            /* background-size: contain;
            
            } */
        /* Add your custom styles here */
        .card {
            margin-top: 50px;
        }

        .card-TT{
            background-color: #f8f9fa;
            padding: 1px;
        }

        .card-title {
            font-size: 3.0rem;
            font-weight: bold;
        }

        .card-footer {
            background-color: #f8f9fa;
        }

        h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        }

        h3 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        }

        h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        }

        .cont-li {
            text-indent: 20px;
        }
    </style>
{% endblock %}
