{% extends 'blog/base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-TT">
                            <h2 class="card-title">{{ post.title|title_case }}</h2>
                            <p style="color: gray; font-size: 1.2rem;">Posted by {{post.author}}</p>
                        </div>
                        <p class="card-text">
                            {% for paragraph in post.body %}
                                {% with paragraph|Marking as para %}
                                    {% if para == None %}
                                        <div class="cont-d">
                                            {{ paragraph }}
                                        </div>
                                    {% elif para == 1 %}
                                        <h3>{{ paragraph|last_nchars:1|title_case  }}</h3>
                                    {% elif para == 2 %}
                                        <h4>{{ paragraph|last_nchars:2|title_case  }}</h4>
                                    {% elif para == 11 %}
                                        <div class="cont-li">● {{ paragraph|last_nchars:1 }}</div>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </p>
                        <div class="card-footer">
                            <small class="text-muted">
                                {{ post.date_posted|date:"F d, Y" }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* Add your custom styles here */
        .card {
            margin-top: 50px;
        }

        .card-TT{
            background-color: #f8f9fa;
            padding: 1px;
        }

        .card-title {
            font-size: 3.0rem;
            font-weight: bold;
        }

        .card-footer {
            background-color: #f8f9fa;
        }

        h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        }

        h3 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        }

        h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        }

        .cont-li {
            text-indent: 20px;
        }
    </style>
{% endblock %}
