{% extends 'blog/base.html' %}
{% load custom_filters %}

{% block content %}
  {% if is_admin %}
    <div class="alert alert-success" role="alert">
      You are logged in as an admin.
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
        <div class="card mb-4">
          <div class="card-body">
            <nav class="row">
              {% with post.image_set.all|img_list as image %}
                  {% if image %}
                    <img src="{{ image.image.url }}" alt="{{ post.title }} image" class= "view"style="max-width: 100%; display: block; padding: 2.5%; height:10rem; margin-top: auto;">
                  {% endif %}
                {% endwith %}
              <div style="margin:2%; max-width: 100%;">
                <h2 class="card-title" style="font-size: 2.0rem;">{{ post.title|title_case }}</h2>
                <p class="card-text">{{ post.body|truncatewords:30|makelister|Maker }}</p>
              </div>
            </nav>
            <a href="{% url 'blog:post_detail' pk=post.pk %}" class="btn btn-primary">Read More &rarr;</a>
            {% if user.is_staff or user.is_superuser %} 
              <a href="{% url 'blog:delete_post' pk=post.pk %}" class="btn btn-primary" style="background-color: red;border-color: red; float: right;">Delete</a>
              <div style="float: right;"> &nbsp &nbsp</div>
              <a href="{% url 'blog:edit_post' pk=post.pk %}" class="btn btn-primary" style="float: right;">Edit</a> 
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.created_date|date:"F d, Y" }} by {{ post.author }} | tags:
            {% for category in post.categories|catego  %}
              <a href="#" style="background-color: beige;padding-left: 5px; padding-right: 5px;">{{category}}</a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <form method="get">
            <div class="input-group">
              <input type="text" class="form-control" name="search_query" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            {% for category in categories|catego_split %}
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for cat in category %}
                    {% if cat != None %}
                      <li>
                        <a href="{% url 'blog:filt_post_list' c_filter=cat.slug %}">{{ cat.name|title_case }}</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="{% url 'blog:post_list' %}">{{ cat }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <style>
    /* For Mobile */
    @media screen and (max-width: 540px) {
        nav.row {
          flex-wrap: wrap;
        }
    }

    /* For Tablets */
    @media screen and (min-width: 540px) and (max-width: 780px) {
        nav.row {
          flex-wrap: wrap;
        }
    }
    @media screen and (min-width: 1000px) {
      nav.row{
        flex-wrap: nowrap;
      }
    }
  </style>



{% endblock content %}
