<!-- post_detail.html -->
{% extends 'blog/base.html' %}
{% load custom_filters %}

{% block content %}
    <article>
        <h2>Blog Title(_{{ post.title }}_)</h2>
        
        {% for paragraph in post.body %}
            {% with paragraph|Marking as para %}
                {% if para == None %} 
                    <p>{{ paragraph }}</p>
                {% elif para == 1 %}
                    <h3>{{ paragraph|last_nchars:1 }}</h3>
                {% elif para == 2 %}
                    <h4>{{ paragraph|last_nchars:2 }}</h4>
                {% elif para == 11 %}
                    <p>&emsp;{{ paragraph|last_nchars:1 }}</p>
                {% endif %}
            {% endwith %}
        {% endfor %}

        <footer>
            <h5>Date created: {{ post.date_posted }}</h5>
        </footer>
    </article>
{% endblock %}
